.my-badge {
    font-size: 0.9rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

.badge-green {
    background-color: #198754;
}

.badge-yellow {
    background-color: #ffc107;
    color: black;
}

.badge-red {
    background-color: #dc3545;
    
}
